# Discord Bot Credentials
DISCORD_TOKEN=
PREFIX=!
PORT=3000

# Optional MongoDB connection (in-memory mock active by default)
MONGODB_URI=

# Bot Owner & Server Settings
OWNER_ID=607059199897108491
SERVER_ID=852903626871537685
